@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic resets and global font */
html, body, #__next {
  height: 100%;
}
body {
  @apply bg-white text-gray-900;
  font-family: Manrope, ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* small helpers */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  gap: 3rem;
  width: max-content;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  font-size: 4.5rem; /* Adjust size */
  font-weight: 500;
  white-space: nowrap;
}

.marquee__inner span {
  margin-right: 3rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
